:root {
    --bg-white: #ffffff;
    --primary: #2b8cee;
    --background-light: #f6f7f8;
    --background-dark: #101922;
    --color-whatsapp: #25D366;
    --text-color: #617589;
    --color-star: #facc14;
    --shadow-one: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    --shadow-two: 0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    width: 100%;
}

/* Header Styles */

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-white);
    padding: 10px;
    position: sticky;
    top: 0;
    box-shadow: var(--shadow-two);
}

.header__logo {
    background-color: var(--background-light);
    color: var(--primary);
    padding: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

.header__title {
    color: var(--background-dark);
    font-size: 1.2rem;
    flex-grow: 1;
}

.nav {
    flex-grow: 6;
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
}

.nav__link {
    color: var(--background-dark);
    text-decoration: none;
    display: none;
    transition: color .5s;
}

.nav__link:hover {
    color: var(--primary);
}

.link--button {
    background-color: var(--primary);
    color: var(--bg-white);
    display: block;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 7px;
    box-shadow: var(--shadow-one);
    transition: background-color .5s;
}

.link--button:hover {
    color: var(--primary);
    outline: 1px solid var(--primary);
    background-color: var(--background-light);
}

.main {
    width: 100%;
}

/* Hero Styles */

.hero {
    width: 100%;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.wrapper__hero {
    display: flex;
    flex-direction: column;
}

.wrapper__text {
    width: fit-content;
    background-color: var(--background-light);
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  5px 10px;
    border-radius: 25px;
}

.wrapper__text span {
    font-size: 1rem;
    margin-right: 5px;
    font-weight: bold;
}

.wrapper__text p {
    font-size: 1rem;
    font-weight: bold;
}

.hero__title {
    font-size: 2.5rem;
    margin: 15px 0px;
    color: var(--background-dark);
}

.hero__title span {
    color: var(--primary);
}

.hero__paragraph {
    color: var(--background-dark);
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.hero__buttons {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.hero__btn {
    width: 100%;
    text-align: center;
    border: 2px solid var(--background-light);
    border-radius: 6px;
    padding: 13px 0;
    text-decoration: none;
    color: var(--background-dark);
    font-weight: bold;
    background-color: var(--bg-white);
}

.hero__btn--active {
    background-color: var(--primary);
    color: var(--bg-white);
    box-shadow: var(--shadow-one);
}

.hero__legend {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.hero__legend img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.hero__legend p {
    color: var(--text-color);
    font-size: 1rem;
    margin-left: 5px;
}

.wrapper__img {
    width: 100%;
    border-radius: 20px;
    background:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),url("img/image.png");
    background-position: center;
    background-size: cover;
    height: 350px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.wrapper__img span {
    color: var(--bg-white);
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.wrapper__img h3 {
    color: var(--bg-white);
    font-size: 1.6rem;
}

/* Benefits Style */

.benefits {
    background-color: var(--background-light);
    width: 100%;
    padding: 40px 20px;
}

.benefits__title {
    color: var(--background-dark);
    font-size: 1.9rem;
    text-align: center;
}

.benefits__paragraph {
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
}

.benefits__content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 25px;
}

.benefits__card {
    background-color: var(--bg-white);
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: var(--shadow-one);
}

.benefits__card span {
    background-color: var(--background-light);
    color: var(--primary);
    padding: 10px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 2rem;
}

.benefits__card h3 {
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--background-dark);
}

.benefits__card p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: var(--text-color);
}

/* Services Style */

.services {
    background-color: var(--bg-white);
    width: 100%;
    padding: 50px 20px;
}

.services__title {
    color: var(--background-dark);
    font-size: 1.9rem;
    text-align: left;
}

.services__paragraph {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 20px 0;
}

.services__content {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.services__item {
    border: 2px solid var(--background-light);
    border-radius: 7px;
    padding: 25px 20px;
}

.services__item span {
    background-color: var(--background-light);
    color: var(--primary);
    border-radius: 50%;
    padding: 15px;
    font-size: 2.3rem;
}

.services__item h3 {
    color: var(--background-dark);
    font-size: 1.4rem;
    margin: 10px 0px;
}

.services__item p {
    color: var(--text-color);
    font-size: 1.13rem;
}

/* Contact Style */

.contact {
    width: 100%;
    background-color: var(--primary);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
}

.contact__title {
    text-align: center;
    color: var(--bg-white);
    font-size: 1.9rem;
}

.contact__paragraph {
    text-align: center;
    color: var(--bg-white);
    font-size: 1.25rem;
    margin: 30px 0;
}

.contact__whatsapp {
    background-color: var(--color-whatsapp);
    display: inline-block;
    text-decoration: none;
    color: var(--bg-white);
    font-size: 1.35rem;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    border-radius: 7px;
    box-shadow: var(--shadow-one);
    display: flex;
    justify-content: center;
    align-items: end;
}

.contact__whatsapp span {
    font-size: 2rem;
    margin-right: 10px;
}

.contact__legend {
    color: var(--background-light);
    text-align: center;
    margin-top: 20px;
}

/* Clients Style */

.clients {
    background-color: var(--background-light);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
}

.clients__title {
    color: var(--background-dark);
    margin: 40px 0;
    text-align: center;
    font-size: 1.9rem;
}

.clients__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.clients__item {
    background-color: var(--bg-white);
    box-shadow: var(--shadow-one);
    padding: 30px 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.clients__user {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.clients__user img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.user--description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user--description h3 {
    color: var(--background-dark);
    font-size: 1.1rem;
    font-weight: bold;
}

.client--star {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.client--star span {
    font-size: 1.1rem;
    color: var(--color-star);
}

.clients__description {
    color: var(--text-color);
    margin-top: 25px;
    font-style: italic;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.footer__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.footer__header .footer__logo {
    color: var(--primary);
    font-size: 1.65rem;    
}

.footer__title {
    color: var(--background-dark);
    font-size: 1.4rem;
}

.footer__body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__body p {
    color: var(--text-color);
    font-size: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer--link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    padding-left: 10px;
    position: relative;
}

.footer--link p{
    position: absolute;
    background-color: var(--background-light);
    color: var(--text-color);
    padding: 20px 30px;
    border-radius: 5px;
    outline: 1px solid var(--bg-white);
    text-align: center;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 60% 98%, 50% 100%, 40% 98%, 0 98%);
}

.footer--link:hover> p {
    display: block;
    bottom: 25px;
    left: 0;
}

/* Alert Style*/

.alert {
    background-color: var(--background-light);
    padding: 15px 0;
    color: var(--primary);
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

/* Responsive Desktop */

@media screen and (min-width:700px) {
    
    .nav__list {
        gap: 30px;
        align-items: center;
    }

    .nav__link {
        display: inline-block;
        gap: 30px;
    }
    
    .hero {
        flex-direction: row;
        gap: 70px;
        padding: 20px 80px;
        align-items: center;
    }

    .wrapper__hero {
        width: 50%;
    }

    .hero__title {
        font-size: 4.2rem;
    }

    .hero__paragraph {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .hero__buttons {
        flex-direction: row;
    }

    .hero__btn {
        border-radius: 10px;
        padding: 15px 36px;
    }

    .wrapper__img {
        width: 50%;
        height: 75dvh;
    }

    .benefits {
        padding: 90px 80px;
    }

    .benefits__content {
        flex-direction: row;
    }

    .benefits__card {
        padding-bottom: 60px;
    }

    .benefits__card h3 {
        font-size: 1.7rem;
        margin-top: 30px;
    }

    .benefits__card p {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 100;
    }

    .services {
        padding: 90px 80px;
    }

    .services__content {
        grid-template-columns: 1fr 1fr;
    }
    
    .services__item {
        /*width: 49%;*/
    }

    .services__item h3 {
        font-size: 1.6rem;
        margin: 20px 0px;
    }

    .services__item p {
        font-size: 1.3rem;
    }
    
    .contact {
        align-items: center;
        padding: 100px 0;
    }

    .contact__paragraph {
        padding: 0 20%;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .contact__whatsapp {
        width: fit-content;
        font-size: 1.5rem;
        padding: 15px 36px;
    }

    .contact__whatsapp span {
        font-size: 2.2rem;
    }

    .contact__legend {
        color: var(--background-light);
        text-align: center;
        margin-top: 20px;
    }

    .clients {
        padding: 50px 80px;
        padding-bottom: 80px;
    }

    .clients__content {
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 80px;
    }

    .footer__body {
        margin-top: 0;
    }

    .footer--link {
        margin: 0;
        margin-left: 20px;
        padding: 0;
    }
    
    .footer--link p{
        width: 200%;
    }

    .footer--link:hover>p {
        left: -50%;
    }
}